/* 
/* 
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/

/* Font Colors */
body .text-light {
    color: #868686 !important;
}
.text-light a:not(.btn), .text-light h1, .text-light h2, .text-light h3, .text-light h4, .text-light h5, .text-light h6, .text-light .h1, .text-light .h2, .text-light .h3, .text-light .h4, .text-light .h5, .text-light .h6, .text-light .display-1, .text-light .display-2, .text-light .display-3, .text-light .display-4 {
    color: #333333 !important;
}

#footer.text-light a:not(.btn), #footer.text-light h1, #footer.text-light h2, #footer.text-light h3, #footer.text-light h4, #footer.text-light h5, #footer.text-light h6, #footer.text-light .h1, #footer.text-light .h2, #footer.text-light .h3, #footer.text-light .h4, #footer.text-light .h5, #footer.text-light .h6, #footer.text-light .display-1, #footer.text-light .display-2, #footer.text-light .display-3, #footer.text-light .display-4 {
    color: #ffffff !important;
}
/* Global*/


body {
    background-color: #ffffff !important;
    color: #333;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #333;
}
.flickity-page-dots .dot {
    background: #f1f1f1;
}
.mb-0,
section:not(.text-light) .nav-link, footer:not(.text-light) .nav-link {
    color: #333 !important;
}
.navbar {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.navbar-dark .navbar-brand{
    color: #333333;
}
.navbar-dark .navbar-nav .nav-link {
    color: #333333;
    opacity: .7;
} 
#hideNav {
    visibility: hidden;
} 
#showNav nav.navbar {
    background-color: rgba(255,255,255,0.7);
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 60%;
        margin: 4rem auto;
    }
}


/* 01 - Hero */
.main_hero {
    height: 100vh;
    position: relative;
}
.main_hero .container.mt-lg-6 {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
}
/* 02 - About */
#about {
    padding: 0 0 10rem;
}
#ace_editor {
    height: 43rem;
    border-radius: 1rem;
}
.editor_wrapper {
    background-color: #ffffff;
    padding: 12px;
    border-radius: 10px;
}


/* 03 - Work Experience */
.experience_title h1.display-4.mb-1 {
    color: #ffffff !important;
}
.experience_title span {
    color: #ffffff !important;
}
.image_box {
    display: block;
    border-radius: 1rem;
    position: relative;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.image_box .mb-3 {
    margin-bottom: 0 !important;
}
.link_box {
    display: block;
    margin-top: 1rem;
}
.image_box_1 {
    background-color: #7ed6df;
}
.image_box_2 {
    background-color: #686de0;
}
.image_box_3 {
    background-color: #e056fd;
}
.modal-body .text-center h2 {
    font-size: 3rem;
}
.dot {
    background: #333 !important;
}
.modal-body .close {
    font-size: 3rem;
}
.modal-body .o-hidden {
    padding: 0;
}
.modal-body figure {
    margin: 0
}

/* footer */
#footer.text-light {
    color: #ffffff !important;
}
li.d-flex {
    align-items: center;
}