/* 
/* 
/*  custom.css
/*
/*  If not using Gulp and Sass, add your custom CSS below then include it
/*  in your page by adding a reference to assets/css/custom.css in the head of each page.
/*
*/
/* Global*/
body {
    background-color: #020122 !important;
    color: #fff;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #fff;
}
.mb-0,
section:not(.text-light) .nav-link, footer:not(.text-light) .nav-link {
    color: #fff !important;
}
/* 01 - Hero */
.main_hero {
    height: 90vh;
    position: relative;
}
.main_hero .container.mt-lg-6 {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    -webkit-transform: translate(50%, -50%);
    -moz-transform: translate(50%, -50%);
    -ms-transform: translate(50%, -50%);
    -o-transform: translate(50%, -50%);
}
/* 02 - About */
#about {
    padding: 0;
}
#ace_editor {
    height: 70vh;
    border-radius: 1rem;
}
.editor_wrapper {
    background-color: #2A2A72;
    padding: 12px;
    border-radius: 10px;
}


/* 03 - Work Experience */
.image_box {
    display: block;
    border-radius: 1rem;
    position: relative;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.image_box .mb-3 {
    margin-bottom: 0 !important;
}
.link_box {
    display: block;
    margin-top: 1rem;
}
.image_box_1 {
    background-color: #7ed6df;
}
.image_box_2 {
    background-color: #686de0;
}
.image_box_3 {
    background-color: #e056fd;
}